# used for copying files
YJS_SECURITY_KEY=

NEXT_PUBLIC_PRODUCT_NAME=AlgoPro IDE
NEXT_PUBLIC_LSP_URL="<read https://docs.google.com/document/d/1LOUbP7ZJRyZYLtazX1zjatq8jlLlWWODujM34SBDxXk/edit?tab=t.0>"
