rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // TODO: update with proper rules
    match /problemsets/{problemset}/problems/{problem} {
      allow read: if true;
      allow write: if request.auth.token.admin == true;

      match /translations/{translation} {
        allow read: if true;
        allow write: if request.auth.token.admin == true;
      }

      // TODO: this is not intended this way
      match /solutions/{language} {
        allow read: if true;
        allow write: if request.auth.token.admin == true;
      }
    }

    // FIXME: Check teacher permission (and school ID) instead of admin
    match /groups/{group}/classes/{class} {
      allow read: if true;
      allow write: if request.auth.token.admin == true;
    }

    match /userdata/{userid} {
      allow read: if request.auth.uid == userid || request.auth.token.admin == true;
      allow write: if false;
    }
  }
}
